@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .bg-gray-750 {
    background-color: rgb(31, 35, 45);
  }
  
  .bg-gray-650 {
    background-color: rgb(45, 50, 60);
  }
}